body {
    padding-top: 62px; 
}

.heading{
    text-align: center;
    padding: 2rem 0;
    font-size: 4rem;
    color: #333;
    margin: 2rem 0;
    background: #DCDCDC;
}

.heading span{
    color: #2C3930;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #4A4947;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #2C3E50;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #50C878;
}